* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:darkslategray;
}

.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:black;
    color:#ffffff;
}

.header h1 {
    display: inline-block;
    font-size:40px;
}

.header section {
    padding-top:10px;
    margin-right:10px;
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header section ul li {
    display:flex;
    justify-content:right;
    display: inline-block;
    margin-left:15px;
}

a {
    color:darkslategray;
    text-decoration:none;
    font-size:25px;
}

p {
    font-size:20px;
}

.my-picture {
    border-radius:100px;
    height:500px;
    width:400px;
    margin-top:10px;
    margin-left:40px;
    background-image: url("../images/my-picture.jpg");
    background-position: center;
}

.float-left {
    float:left;
    margin-right:25px;
}

.float-right {
    float:right;
    margin-left:25px;
}

.content-about-me {
    position:absolute;
    left: 425px;
    top:100px;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.content-about-me h2 {
    margin-right:200px;
    margin-top:100px;
    padding: 20px;
    font-size:30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    font-weight:bold;
    text-decoration:underline;
}

.main-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height:85vh;
    margin:0 auto;
    border-style:solid;
    border-width:2px;
    color:white;
    margin-top:15px;
}

.main-card h2 {
    position:absolute;
    left:1000px;
    top: 625px;
    font-size:30px;
    font-weight:bold;
    text-decoration:underline;
}

@media screen and (max-width:768px) {
    header section ul li {
        flex-direction:column;
    }
    header section {
        background-color:red;
    }
    body {
        background-color:green;
    }
}

button:hover {
    background-color:lightblue;
}

button:active {
    box-shadow: 0 0 10px black inset;
}

.projects-area-around {
    width: 100%;
    height: 700px;
    display:flex;
    justify-content:center;
}

.projects-area {
    width:85%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(4,1fr);
    gap:10px;
}

.project-detail {
    background-color:black;
    color:white;
    padding:10px;
    text-align:center;
}

.project-1 {
    grid-column: 1/3;
    grid-row:span 2;
    background-image:url(../images/Proj-1.jpg);

}

.project-1:hover {
    opacity:0.5;
}

.project-2 {
    background-image:url(../images/Proj-2.jpg);
    background-position:5%;
}

.project-2:hover {
    opacity:0.5;
}

.project-3 {
    background-image:url(../images/Proj-3.jpg);
}

.project-3:hover {
    opacity:0.5;
}

.project-4 {
    background-image:url(../images/Proj-4.jpg);
    background-position:5%;
}

.project-4:hover {
    opacity:0.5;
}

.project-5 {
    background-image:url(../images/Proj-5.jpg);
}

.project-5:hover {
    opacity:0.5;
}

footer {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:black;
    color:#ffffff;
}

footer h2 {
    display: inline-block;
    font-size:40px;
    font-weight:bold;
    text-decoration:underline;
}

footer div {
    padding-bottom:10px;
    margin-top:5px;
    margin-right:1000px;
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer div ul li {
    display:flex;
    display: inline-block;
    margin-left:15px;
}
